* text=auto !eol
afficher_diff/champ.php -text
afficher_diff/id_rubrique.php -text
afficher_diff/jointure.php -text
base/revisions.php -text
formulaires/configurer_revisions_objets.html -text
formulaires/configurer_revisions_objets.php -text
formulaires/reviser.html -text
formulaires/reviser.php -text
inc/diff.php -text
inc/revisions.php -text
inc/revisions_autoriser.php -text
inc/revisions_pipeline.php -text
inc/suivi_versions.php -text
lang/paquet-revisions.xml -text
lang/paquet-revisions_ar.php -text
lang/paquet-revisions_de.php -text
lang/paquet-revisions_en.php -text
lang/paquet-revisions_es.php -text
lang/paquet-revisions_fa.php -text
lang/paquet-revisions_it.php -text
lang/paquet-revisions_lb.php -text
lang/paquet-revisions_nl.php -text
lang/paquet-revisions_pt.php -text
lang/paquet-revisions_pt_br.php -text
lang/paquet-revisions_ru.php -text
lang/paquet-revisions_sk.php -text
lang/revisions.xml -text
lang/revisions_ar.php -text
lang/revisions_ast.php -text
lang/revisions_ay.php -text
lang/revisions_bg.php -text
lang/revisions_br.php -text
lang/revisions_bs.php -text
lang/revisions_ca.php -text
lang/revisions_co.php -text
lang/revisions_cpf.php -text
lang/revisions_cpf_hat.php -text
lang/revisions_cs.php -text
lang/revisions_de.php -text
lang/revisions_el.php -text
lang/revisions_en.php -text
lang/revisions_eo.php -text
lang/revisions_es.php -text
lang/revisions_eu.php -text
lang/revisions_fa.php -text
lang/revisions_fon.php -text
lang/revisions_fr.php -text
lang/revisions_fr_fem.php -text
lang/revisions_fr_tu.php -text
lang/revisions_gl.php -text
lang/revisions_he.php -text
lang/revisions_hu.php -text
lang/revisions_id.php -text
lang/revisions_it.php -text
lang/revisions_it_fem.php -text
lang/revisions_ja.php -text
lang/revisions_km.php -text
lang/revisions_lb.php -text
lang/revisions_my.php -text
lang/revisions_nl.php -text
lang/revisions_oc_auv.php -text
lang/revisions_oc_gsc.php -text
lang/revisions_oc_lms.php -text
lang/revisions_oc_lnc.php -text
lang/revisions_oc_ni.php -text
lang/revisions_oc_ni_la.php -text
lang/revisions_oc_prv.php -text
lang/revisions_oc_va.php -text
lang/revisions_pl.php -text
lang/revisions_pt.php -text
lang/revisions_pt_br.php -text
lang/revisions_rn.php -text
lang/revisions_ro.php -text
lang/revisions_ru.php -text
lang/revisions_sk.php -text
lang/revisions_sv.php -text
lang/revisions_tr.php -text
lang/revisions_uk.php -text
lang/revisions_vi.php -text
lang/revisions_wa.php -text
lang/revisions_zh.php -text
prive/objets/contenu/revision.html -text
prive/objets/contenu/revision_fonctions.php -text
prive/objets/liste/versions.html -text
prive/objets/liste/versions_fonctions.php -text
prive/rss/revisions.html -text
prive/rss/revisions_fonctions.php -text
prive/squelettes/contenu/configurer_revisions.html -text
prive/squelettes/contenu/revision.html -text
prive/squelettes/contenu/revision_fonctions.php -text
prive/squelettes/contenu/revisions.html -text
prive/squelettes/hierarchie/revision.html -text
prive/squelettes/navigation/revision.html -text
prive/squelettes/top/revisions.html -text
prive/style_prive_plugin_revisions.html -text
prive/themes/spip/images/diff-16.png -text
prive/themes/spip/images/diff-24.png -text
prive/themes/spip/images/diff-32.png -text
prive/themes/spip/images/licence.txt -text
prive/themes/spip/images/revision-16.png -text
prive/themes/spip/images/revision-24.png -text
prive/themes/spip/images/revision-32.png -text
prive/themes/spip/images/revision-edit-16.png -text
prive/themes/spip/images/revision-edit-24.png -text
prive/themes/spip/images/revision-edit-32.png -text
/revisions_administrations.php -text
/revisions_ieconfig.php -text
