* text=auto !eol
base/revisions.php -text
base/revisions_upgrade.php -text
exec/config_revisions.php -text
exec/objets_versions.php -text
exec/revisions_restaurer.php -text
exec/suivi_revisions.php -text
formulaires/configurer_revisions_objets.html -text
formulaires/configurer_revisions_objets.php -text
inc/diff.php -text
inc/revisions.php -text
inc/revisions_autoriser.php -text
inc/revisions_pipeline.php -text
inc/suivi_versions.php -text
lang/revisions_fr.php -text
/plugin.xml -text
prive/configurer/revisions.html -text
prive/rss/revisions.html -text
prive/rss/revisions_fonctions.php -text
prive/skins/spip/images/revision-16.png -text
prive/skins/spip/images/revision-24.png -text
/revisions_options.php -text
